<link rel="stylesheet" href="/css/paint.css" />
<link rel="stylesheet" href="/css/barrager.css" />
<script type="text/javascript" src="/js/realtime.browser.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.barrager.js"></script>
<script type="text/javascript" src="/js/util.js"></script>

<script type="text/javascript">
    const Realtime = AV.Realtime;
    const TextMessage = AV.TextMessage;
    const appId = '<%=lcAppId%>';
    const currentUserName = '<%= currentUserName %>';
    const convId = '<%= convId %>';


    const realtime = new Realtime({
        appId: appId,
        region: 'cn', // 美国节点为 "us"
        noBinary: true,
    });

</script>
<script type="text/javascript" src="/js/paint.js"></script>
<div class="main">
    <canvas id="ydig"></canvas>
    <hr/>
</div>
<div class="form">
    <input type="input" id="message" placeholder="make a guess..."></input>
    <input type="button" id="send" value="发送"></input>
</div>
<hr/>
<div class="color-tools" id="choose-color"></div>
<div class="btn-tools">
    <input type="button" id="pencil" value="画笔"></input>
    <input type="button" id="eraser" value="橡皮"></input>
    <input type="button" id="rollback" value="清空"></input>
    <input type="button" id="logout" value="<%= currentUserName %>，退出"></input>
    <p>当前共有 <span id="numOnlineMembers">1</span> 人在线</p>
</div>
