<link rel="stylesheet" href="/css/paint.css" />
<link rel="stylesheet" href="/css/barrager.css" />
<script type="text/javascript" src="/js/realtime.browser.min.js"></script>
<script type="text/javascript" src="/js/paint.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.barrager.js"></script>
<script type="text/javascript" src="/js/util.js"></script>

<script type="text/javascript">
    var Realtime = AV.Realtime;
    var TextMessage = AV.TextMessage;
    const realtime = new Realtime({
        appId: '<%=lcAppId%>',
        region: 'cn', // 美国节点为 "us"
        noBinary: true,
    });
    let imClient = null;
    let conv = null;
    let addBulletScreens = (target, bullet) => {
        $('body').barrager({
            'info': bullet,
            'close': true
        });
    }
    realtime.createIMClient('<%= currentUserName %>').then(function (client) {
        console.log(`client build ok...`);
        imClient = client;
        imClient.on('message', function (message, conversation) {
            let points = JSON.parse(message.text);
            if (Array.isArray(points)) {
                let startPoint = points.shift();

                touchStartHandler({
                    clientX: startPoint.x * canvas.width,
                    clientY: startPoint.y * canvas.height,
                    remote: true
                })

                for (let p of points) {
                    touchMoveHandler({
                        clientX: p.x * canvas.width,
                        clientY: p.y * canvas.height,
                        remote: true
                    })
                }
                touchEndHandler({ remote: true });
            } else {
                let e = points;
                if (e.type === 'msg') {
                    addBulletScreens(document.getElementById('dialog'), `${message.from}: ${e.value}`);
                } else if (e.type === 'event') {
                    let ehs = {
                        'pencil': usePencil,
                        'eraser': useEraser,
                        'rollback': useRollback,
                        'color': useColor
                    };
                    if (e.src === 'color') {
                        ehs[e.src]({
                            'remote': true,
                            'color': e.value
                        });
                    } else {
                        ehs[e.src]({ 'remote': true });
                    }
                }
            }
        });
        return client.getConversation('<%= convId %>');
    }).then(function (conversation) {
        console.log(`conv init ok...`);
        conv = conversation;
    }).catch(console.error.bind(console));

    function sendMsg(msg) {
        if (msg.trim() !== '') {
            conv.send(new AV.TextMessage(JSON.stringify({
                'type': 'msg',
                'value': msg
            }))).then(function (message) {
                console.log(message.text + " send!");
            }).catch(console.error.bind(console));
        }
    }
    window.document.body.onload = () => {
        document.title = '<%= name %> by <%= createBy %>';
        draw();

        let msgInput = document.getElementById('message');
        let sendBtn = document.getElementById('send');
        sendBtn.onclick = function (e) {
            sendMsg(msgInput.value);
        };
        msgInput.onkeypress = function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 is enter
                sendMsg(msgInput.value);
            }
        };
    }

</script>
<div class="main">
    <canvas id="tutorial"></canvas>
    <hr/>
</div>
<div class="form">
    <input type="input" id="message" placeholder="make a guess..."></input>
    <input type="button" id="send" value="发送"></input>
</div>
<hr/>
<div class="color-tools" id="choose-color"></div>
<div class="btn-tools">
    <input type="button" id="pencil" value="画笔"></input>
    <input type="button" id="eraser" value="橡皮"></input>
    <input type="button" id="rollback" value="清空"></input>
</div>