<link rel="stylesheet" href="/css/index.css" />
<script type="text/javascript" src="/js/util.js"></script>

<script type="text/javascript">
    window.onload = () => {
        let createRoomBtn = document.getElementById("create");
        let roomNameInput = document.getElementById("roomName");
        createRoomBtn.onclick = (e) => {
            if (roomNameInput.value.trim() === '') {
                alert(`房间名不能为空！！`);
                return false;
            }
            postAjax('/rooms', {
                "roomName": roomNameInput.value
            }, (resp) => {
                window.location = `/rooms/${resp.roomId}`; 
            })
        }
        document.getElementById("logout").onclick = () => {
            if(confirm('确认退出嘛 ？'))
            getAjax('/logout', (resp) => {
                window.location = '/login';
            });
        }
    }

</script>

<input id="logout" type="button" value="<%= currentUserName%>, Logout">
<div class="container">
    <div class="form">
        <p><input id="roomName" type="text" placeholder="请输入房间名..."></input>
        </p>
        <div class="btn-tools">
            <input id="create" type="button" value="创建新房间">
        </div>
    </div>


    <%
        if(rooms.length > 0) {
    %>
    <hr>
        <ul id="createdRooms" aria-label="已有房间">
        <%            
            for(let room of rooms) { 
        %>
            <li>
                <a href="/rooms/<%= room.id %>">
                    <%= room.name%> 
                </a>created by <%= room.createBy %>
            </li>
        <%
            }
        }
        %>

        </ul>
</div>