<link rel="stylesheet" href="/css/index.css" />
<script type="text/javascript" src="/js/util.js"></script>

<script type="text/javascript">
    window.onload = () => {
        let createRoomBtn = document.getElementById("create");
        createRoomBtn.onclick = () => {
            let roomName = prompt('房间名');
            if (roomName) {
                if (roomName.trim() === '') {
                    alert(`房间名不能为空！！`);
                    return false;
                }
                postAjax('/rooms', {
                    "roomName": roomName
                }, (resp) => {
                    window.location = `/rooms/${resp.roomId}`;
                })
            }
        };
        document.getElementById("logout").onclick = () => {
            if (confirm('确认退出嘛 ？'))
                getAjax('/logout', (resp) => {
                    window.location = '/login';
                });
        }
    }

</script>

<input id="logout" type="button" value="<%= currentUserName%>, Logout">

<div class="container">
    <%
        if(rooms.length > 0) {
    %>
        <ul id="createdRooms" aria-label="已有房间">
            <%            
            for(let room of rooms) { 
        %>
                <li>
                    <%= room.createBy %> 的
                        <a href="/rooms/<%= room.id %>">
                            <%= room.name%>
                        </a>,
                        <%= room.numMembers %> 人在线
                </li>
                <%
            }
        %>
        </ul>
        <hr>
        <%
        }
        %>
            <div class="form">
                <div class="btn-tools">
                    <input id="create" type="button" value="创建新房间">
                </div>
            </div>
</div>