<link rel="stylesheet" href="/css/index.css" />
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript">
    window.onload = () => {
        let loginBtn = document.getElementById('login');
        let userNameInput = document.getElementById('userName');
        let loginFn = (e) => {
            if (userNameInput.value.trim() === '') {
                alert(`名字不能为空！！`);
                return false;
            }
            postAjax('/login', {
                "userName": userNameInput.value
            }, (resp) => {
                window.location = "<%= from %>";
            });
        };
        loginBtn.onclick = loginFn;
        userNameInput.onkeypress = (e) => {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 is enter
                loginFn(e);
            }
        }
    }

</script>

<div class="container">
    <div class="form">
        <p><input id="userName" type="text" placeholder="请输入用户名..."></input>
        </p>
        <div class="btn-tools">
            <input id="login" type="button" value="登录">
        </div>
    </div>
</div>