<link rel="stylesheet" href="/css/index.css" />
<script type="text/javascript">
    AV.init({
        appId: "<%= lcAppId %>",
        appKey: "<%= lcAppKey %>"
    });
    window.onload = () => {
        let registerBtn = document.getElementById('register');
        let usernameInput = document.getElementById('username');
        let passwordInput = document.getElementById('password');
        let registerFn = (e) => {
            let username = usernameInput.value.trim();
            let password = passwordInput.value.trim();
            if (username === '') {
                alert(`名字不能为空！！`);
                return false;
            }
            if (password === '') {
                alert(`密码不能为空！！`);
                return false;
            }
            var user = new AV.User();
            user.setUsername(username);
            user.setPassword(password);
            user.signUp().then(function (loginedUser) {
                // console.log(loginedUser);
                window.location = '/login';
            }, (function (error) {
                console.log(error);
                alert(error.message);
            }));

        };
        registerBtn.onclick = registerFn;
        passwordInput.onkeypress = (e) => {
            var key = e.which || e.keyCode;
            if (key === 13) { // 13 is enter
                registerFn(e);
            }
        }
    }

</script>

<div class="container">
    <div class="form">
        <p><input id="username" type="text" placeholder="用户名..."></input>
        </p>
        <p><input id="password" type="password" placeholder="密码..."></input>
        </p>
        <div class="btn-tools">
            <input id="register" type="button" value="注册">
        </div>
    </div>
</div>