<link rel="stylesheet" href="/css/barrager.css" />
<script type="text/javascript" src="/js/realtime.browser.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.barrager.js"></script>
<script type="text/javascript" src="/js/util.js"></script>


<script type="text/javascript">
    const Realtime = AV.Realtime;
    const TextMessage = AV.TextMessage;
    const realtime = new Realtime({
        appId: '<%=lcAppId%>',
        region: 'cn', // 美国节点为 "us"
        noBinary: true,
    });
    let currentUserName = '<%= currentUserName %>';
    let convId = '<%= convId %>';
    let createBy = '<%= createBy %>';
    let roomName = '<%= name %>';
    let roomId = '<%= id %>';
</script>
<script type="text/javascript" src="/js/room.js"></script>
在线人员：
<div class="members" id="members">
</div>
<hr/>
<div class="form">
    <input type="input" id="message" placeholder="make a guess..."></input>
    <input type="button" id="send" value="发送"></input>
    <input type="button" id="gohome" value="首页"></input>
    <input type="button" id="startDraw" value="开始画画"></input>
</div>