<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/template.css" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="description" content="你画我猜 实验版，鉴于本人十分喜欢这款游戏，但市面上没有一个稳定、流畅的版本，无奈只能自己来做。如果你想加入，可以与我联系：jiacai2050@gmail.com" />
    <title>你画我猜 Alpha</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b7044e2df672ac000a9c1b7772a21182";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body onload="draw()">
    <%- body %>

        <footer>
            <p>2017 &copy; <a target="_blank" href="http://liujiacai.net/"> liujiacai.net</a>. All Rights Reserved. Powered
                by
                <a target="_blank" href="https://leancloud.cn/">LeanCloud</a>.</p>
        </footer>


</body>

</html>