canvas {
border: 2px solid black;
padding-left: 0;
padding-right: 0;
margin-left: auto;
margin-right: auto;
display: block;
}
.color-tools {
text-align: center;
}

.color-tools div {
display: inline-block;
width: 30px;
height: 30px;
margin-right: 10px;
}

.btn-tools {
text-align: center;
}
.form {
    text-align: center;
    margin-top: 10px;
}
.form > input {
    height: 30px;
}